<header id="header" class="header">
  <div class="header-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="text-container">
            <br>
            <h1><span class="turquoise">404</span> NOT FOUND</h1>
            <p class="p-large">Lo sentimos, pagina no encontrada</p>
            <a class="main-btn btn-solid-lg page-scroll" href="/"
              >REGRESAR AL INICIO</a
            >
          </div>
        </div>
        <div class="col-lg-6">
          <div class="image-container">
            <!-- <img
              class="img-fluid"
              src=""
              alt="404" id="animate"
            /> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
