<ngx-spinner
  bdColor="rgba(0,0,0,0.53)"
  size="medium"
  color="#ffffff"
  type="line-scale"
  [fullScreen]="true"
>
</ngx-spinner>
<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="container">
    <h2>Empleados</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <input type="text" placeholder="Buscar" class="search" (input)="searchEmployee($event)"/>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <button type="button" class="btn btn-info"  data-toggle="modal" data-target="#employeeModal" (click)="initEmployeeForm()">Agregar empleado</button>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <caption>
          Lista de usuarios
        </caption>
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Cumpleaños</th>
          </tr>
        </thead>
        <tbody *ngIf="employees">
          <tr *ngFor="let item of employees.employees | angularPaginator: { currentPage: currentPage }; let i = index">
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.last_name }}</td>
            <td>{{ item.birthday | date }}</td>
          </tr>
        </tbody>
      </table>
      <div style="display: flex; justify-content: center" *ngIf="employees">
        <angular-paginator
          [boundaryLinks]="false"
          [directionLinks]="true"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinkNumbers]="false"
          [forceEllipses]="false"
          size="sm"
          id="ANGULAR_PAGINATOR_DEFAULT"
          firstText="Primero"
          previousText="Anterior"
          nextText="Siguiente"
          lastText="Anterior"
          screenReaderFirstText="First"
          screenReaderPreviousText="Previous"
          screenReaderNextText="Next"
          screenReaderLastText="Last"
          screenReaderPageText="Page"
          screenReaderCurrentPageText="You`re on page"
          screenReaderPaginationLabel="Pagination"
          className="ANGULAR_PAGINATOR_DEFAULT"
          [autoHide]="false"
          [disabled]="false"
          (pageChange)="currentPage = $event">
        </angular-paginator>
      </div>
    </div>
  </div>
</div>
<!-- EMployee Modal -->
<div class="modal fade" id="employeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document" *ngIf="employeeForm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Nuevo Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="employeeForm">
          <div class="row" style="margin: 0;">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="margin-bottom: 3%">
                <label for="">Nombre</label>
                <div style="width: 100%; height: 35px;">
                    <input type="text" class="input-form" placeholder="Nombre" formControlName="name">
                </div>
                <p class="error" *ngIf="!employeeForm.controls['name'].valid && employeeForm.controls['name'].touched">*Campo requerido a 30 caracteres</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="margin-bottom: 3%">
              <label for="">Apellidos</label>
              <div style="width: 100%; height: 35px;">
                  <input type="text" class="input-form" formControlName="last_name">
              </div>
              <p class="error" *ngIf="!employeeForm.controls['last_name'].valid && employeeForm.controls['last_name'].touched">*Campo requerido a 30 caracteres</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="margin-bottom: 3%">
              <label for="">Fecha de nacimiento</label>
              <div style="width: 100%; height: 35px;">
                  <input type="date" class="input-form" formControlName="birthday" (change)="formatDate()">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="!employeeForm.valid" (click)="saveEmployee()">Save changes</button>
      </div>
    </div>
  </div>
</div>