p {
    color: #393939;
    font: 400 0.875rem/1.375rem "Raleway", sans-serif;
}

tr {
    color: #393939;
    font: 400 0.875rem/1.375rem "Raleway", sans-serif;
}

h1 {
    color: #393939;
    font: 700 3rem/3.5rem "Raleway", sans-serif;
}

h2 {
    color: #393939;
    font: 700 2.25rem/2.75rem "Raleway", sans-serif;
}

h3 {
    color: #393939;
    font: 700 1.75rem/2rem "Raleway", sans-serif;
}

h4 {
    color: #393939;
    font: 700 1.375rem/1.875rem "Raleway", sans-serif;
}

h5 {
    color: #393939;
    font: 700 1.125rem/1.625rem "Raleway", sans-serif;
}

h6 {
    color: #393939;
    font: 700 1rem/1.5rem "Raleway", sans-serif;
}

label {
    color: #393939;
    font: 400 1rem/1.5rem "Raleway", sans-serif;
}

.search {
    height: 35px;
    color: #4c4c4c;
    width: 90%;
    border: solid 1px #dcdcdc !important;
    border-radius: 5px;
    padding-left: 2% !important;
    margin: 1% 0;
}

.input-form {
    color: #4c4c4c;
    width: 90%;
    border: solid 1px #dcdcdc !important;
    border-radius: 5px;
    padding-left: 2% !important;
    margin: 1% 0;
    height: 100%;
}

.error {
    color: #ce1f1f;
    font-size: 12px;
    margin: 2% 0;
    font-style: italic;
}