<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="container">
    <h2></h2>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" *ngIf="groups">
        <h3 class="header-text">Grupos</h3>
        <div style="height: 35px; margin-bottom: 1%; padding-bottom: 1%;">
          <input type="text" placeholder="Buscar" class="search" (input)="searchItem($event)">
        </div>
        <div class='wrapper' [dragula]="MANY_ITEMS" [(dragulaModel)]='groups'>
          <div *ngFor="let item of groups" class="card" [innerHtml]="item.name"></div>
      </div>

      
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" *ngIf="groups">
        <h3>Grupos</h3>
        <div class='wrapper' [dragula]="MANY_ITEMS" [(dragulaModel)]='newgroups'>
          <div *ngFor="let item of newgroups" class="card" [innerHtml]='item.name'></div>
      </div>
      </div>
    </div>
  </div>
</div>
