.header-text {
    background: #343a40;
    margin: 0;
    border-radius: 8px 8px 0 0;
    color: #fff;
    padding: 1% 2%;
}

.search {
    color: #4c4c4c;
    width: 100%;
    border: solid 1px #dcdcdc !important;
    border-radius: 5px;
    padding-left: 2% !important;
    margin: 1% 0;
    height: 100%;
}

.wrapper {
    overflow: scroll;
    height: 250px !important;
    width: 100%;
    border: solid 1px #f2f2f2;
    border-radius: 8px;
    background-color: #f2f2f2;
    padding: 2% 0;
}

.card {
    margin: 1% 2%;
    height: 35px;
    padding: 1% 2%;
    cursor: pointer;
}

/* in-flight clone */

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
}

/* high-performance display:none; helper */

.gu-hide {
    left: -9999px !important;
}

/* added to mirrorContainer (default = body) while dragging */

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

/* added to the source element while its mirror is dragged */

.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}